<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
    <h1>HOLA MUNDO !!!!!!!!!!!</h1>
    <ul>
        <li><a href="{% url  'deportes' %}">Actualidad deportes</a></li>
        <li><a href="/deportes">Actualidad deportes2</a></li>
        <li><a href="{% url  'listado_alumnos' %}">Listado alumnos</a> </li>
        <li><a href="{% url  'add_clientes' %}">Añadirr cliente</a> </li>
        <li><a href="{% url  'client_del_template' %}">delete cliente</a> </li>
    </ul>


</body>
</html>