<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{%url 'jugador' %}" method="POST">
    {%csrf_token%}
    <label>Nombre:<input type="text" name="nombre" value="{{j.nombre}}" required/></label><br>
    <label>Equipo:<input type="text" name="equipo" value="{{j.equipo}}" required/></label><br>
    <label>Edad:<input type="text" name="edad" value="{{j.edad}}" required/></label><br>
    <label>Nacionalidad:<input type="text" name="nacionalidad" value="{{j.nacionalidad}}" required/></label><br>
    <label>Posicion:<input type="text" name="posicion" value="{{j.posicion}}" required/></label><br>
    <input type="hidden" name="id" value="{{j.id}}">
    <input type="hidden" name="tipo" value="{{tipo}}">
    <input type="submit" value="Guardar">
</form>
</body>
</html>