<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{t_deportes}}</title>
</head>
<body>
<h3>{{t_futbol}}</h3>
<ul>
    <li><div>{{d_futbol}}</div></li>
</ul>
<h3>{{t_basquet}}</h3>
<ul>
    <li><div>{{d_basquetbol}}</div></li>
</ul>

<a href="{% url 'inicio' %}">Inicio</a> <br>
<a href="{% url 'listar_equipos_deportes' %}">Listar Equipos del Mundial</a> <br>
<a href="listar_equipos_mundial?titulo_tabla=TablaSelecciones">Listar Equipos del Mundial2</a> <br>
<a href="{% url 'jugadores' %}">Jugadores</a> <br>
</body>
</html>