<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jugadores</title>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
</head>
<body>
    <form action="{% url 'client_del_template' %}" method="post">
        {%csrf_token%}
        <label>Posicion: <input type="text" name="posicion" required/></label>
        <label>Nacionalidad: <input type="text" name="nacionalidad" required/></label>
        <label>Equipo: <input type="text" name="equipo" required/></label>
        <input type="submit" value="Filtrar">
    </form>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Edad</th>
            <th>Nacionalidad</th>
            <th>Posicion</th>
            <th>Parametros</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="submit" value="Eliminar"><br>
            <input type="submit" value="Actualizar"></td>
        </tr>
    </table>
    <input type="submit" value="Nuevo">
</body>
</html>