<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jugadores</title>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
</head>
<body>
<form action="{% url 'jugador' %}" method="post">
        {%csrf_token%}
            <fieldset>
            <legend>Lista Selecciones</legend>
            <label>Posiciones:<input type="text" name="posicion" list="posicion" />
                <datalist id="posicion">
                       {% for jugador in jugadores%}
                            <option value ="{{jugador.posicion}}" ></option>
                       {% endfor %}
                </datalist>
            </label>
            <label>Nacionalidades:<input type="text" name="nacionalidad" list="nacionalidad" />
                <datalist id="nacionalidad">
                       {% for jugador in jugadores%}
                            <option value ="{{jugador.nacionalidad}}" ></option>
                       {% endfor %}
                </datalist>
            </label>
            <label>Equipos:<input type="text" name="equipo" list="equipo" />
                <datalist id="equipo">
                       {% for jugador in jugadores%}
                            <option value ="{{jugador.equipo}}" ></option>
                       {% endfor %}
                </datalist>
            </label><br>
            <input type="hidden" name="tipo" value="filtrar">
            <input type="submit" value="Filtrar">
        </fieldset>

    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Edad</th>
            <th>Nacionalidad</th>
            <th>Posicion</th>
            <th>Parametros</th>
        </tr>
     {% for jugador in jugadores%}
          <tr>
            <td>{{jugador.id}}</td>
            <td>{{jugador.nombre}}</td>
            <td>{{jugador.equipo}}</td>
            <td>{{jugador.edad}}</td>
            <td>{{jugador.nacionalidad}}</td>
            <td>{{jugador.posicion}}</td>
            <td>
                <a href="jugador/del/{{ jugador.id }}"><input type="submit" value="Eliminar"></a><br>
                <a href="jugador/actualizar/{{ jugador.id }}"><input type="submit" value="Actualizar"></a><br>
            </td>
          </tr>
      {% endfor %}
    </table>
    <a href="jugador/add"><input type="submit" value="Nuevo"></a>
</body>
</html>