<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

    <h2>Listar Equipos Mundial {{titulo}}</h2>

    <form action="listar_equipos_mundial" method="POST">
        {%csrf_token%}
        <fieldset>
            <legend>Lista Selecciones</legend>
            <label>Buscar:<input type="text" name="continente" list="continente" />
                <datalist id="continente">
                       {% for equipo in listado_equipos%}
                            <option value ="{{equipo.continente}}" ></option>
                       {% endfor %}
                </datalist>
            </label>
        </fieldset>
        <input type="hidden" name="tipo" value="filtrar">
        <input type="hidden" name="titulo_tabla" value="{{titulo_tabla}}">
        <input type="submit" value="Filtrar">
    </form>

    <table style="width:100%">
      <tr>
        <th>Seleccion </th>
        <th>Continente </th>
        <th>Nº Munfiales Ganados</th>
      </tr>
      {% for equipo in listado_equipos%}
          <tr>
            <td>{{equipo.seleccion}}</td>
            <td>{{equipo.continente}}</td>
            <td>{{equipo.num_mundiales}}</td>
          </tr>
      {% endfor %}


    </table>

    <a href="{% url 'inicio' %}">Inicio</a> <br>
    <a href="{% url 'deportes' %}">Deportes</a> <br>
    <a href="{% url 'add_new_equipos_deportes' %}">Listar Equipos del Mundial</a> <br>
</body>
</html>