<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Clientes</title>
</head>
<body>
  <h1>LISTA DE CLIENTES</h1>
 <table style="width:100%">
      <tr>
        <th>ID </th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DNI</th>
        <th>EMAIL</th>
      </tr>
      {% for client in list_clientes%}
          <tr>
            <td>{{client.id}}</td>
            <td>{{client.nombre}}</td>
            <td>{{client.apellidos}}</td>
            <td>{{client.dni}}</td>
            <td>{{client.email}}</td>
          </tr>
      {% endfor %}


    </table>

<h3>{{msg}}</h3>


</body>
</html>